* {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-left: 1rem;
}

#result {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgb(255, 141, 141);
}

p {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
